<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultibarLista</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultibarLista.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/poetsen-one" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white box-shadow laranja d-none d-sm-flex">
            <div class="container">
                <ul class="navbar-nav flex-row justify-content-between align-items-center w-100">
                    <li class="nav-item">
                        <a class="nav-link text-white d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-brands fa-whatsapp fa-2x mr-2 me-2" style="color: #06d01e;"></i>
                            Compre via whatsapp (XX) 97227-5917
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Nossas lojas</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light pt-3 fundo-presente azul">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo_multibar.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end g-2 align-items-center">
                        <li class="nav-item d-flex">
                            <i class="fa-solid fa-user m-auto" style="color: #ffffff;"></i>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <div class="form-group d-flex gap-2">
                                <i class="fa-solid fa-location-dot m-auto" style="color: #F46023;"></i>
                                <select class="form-select form-select-sm" aria-label="Small select example">
                                    <option value="PVH" selected>Porto Velho</option>
                                    <option value="RB"> Rio Branco</option>
                                    <option value="GM"> Guajará-Mirim</option>
                                    <option value="CB">Cuiabá</option>
                                    <option value="RN">Natal</option>
                                    <option value="RN">João Pessoa</option>

                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white azul">
        <div class="container">
            &copy; 2024 - Multibar | Tudo em um só lugar 
            - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de Privacidade</a>
            - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas do Site</a>
            - <a asp-area="" asp-controller="Home" asp-action="Privacy">LGPD</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ddad4e101d.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
