<section class="main-container-login">
    <div class="main-container-login-box container justify-content-center align-items-center d-flex line-length-sm margin-auto">
        <article class="rounded">
            <h2>Seja bem vinde</h2>

        </article>
    </div>
</section>