<section class="main-container-login pt-5">
    <div class="main-container-login-box container justify-content-center align-items-center d-flex line-length-sm margin-auto">
        <article class="rounded text-center">
            <h2 class="poppins-bold">
                BEM-VINDO DE VOLTA
            </h2>
            <i class="fa-solid fa-face-smile fa-5x" style="color: #F46023;"></i>
            <h3>
                Inicie sessão na sua conta
            </h3>
            <span>
                Vamos fazer com que você faça login e vá direto para suas listas.
            </span>
            <form class="pb-3 pt-3 text-start">
                <div>
                    <div class="input-icons form-group">
                        <i class="fa-regular fa-envelope icon"></i>
                        <input class="form-control input-field" type="email" placeholder="seu email">
                    </div>
                    <div class="input-icons form-group">
                        <i class="fa-solid fa-lock icon"></i>
                        <input class=" form-control input-field" type="password" placeholder="sua senha">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 w-100">Entrar</button>
                </div>
            </form>
        </article>
    </div>
</section>