@{
    ViewData["Title"] = "Multibar - Listas";
}

<div class="d-flex flex-column azul fundo-inicial-home" id="main-container-principal-home">
    <div class="d-flex main-container-inicio-conteudo">
        <div class="container col-5 m-auto text-center">
            <h1 class="display-4 poetsen text-white text-shadow">O MELHOR LUGAR PARA FAZER SUA LISTA</h1>
            <br />
            <p class="mt-2 display-6 text-white">Para qualquer tipo de comemoração a <strong>multibar</strong> é a melhor opção.</p>
            <div class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-center gap-2 mt-5">
                <a class="btn btn-primario mb-3 mb-md-0 mr-md-2 text-center d-flex align-items-center justify-content-center" href="#" role="button">Criar uma lista</a>
                <a class="btn btn-secundario text-center d-flex align-items-center justify-content-center" href="#" role="button">Presentear alguém</a>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-center align-content-center text-white font-weight-bold mt-5 gap-5">
        <div class="m-1"><span class="fs-3 fonte-laranja fw-bold">+De 5 Mil</span><br /> opções de produtos</div>
        <div class="m-1"><span class="fs-3 fonte-laranja fw-bold">As melhores</span><br /> utilidades domésticas</div>
    </div>

</div>

<div class="container mt-5">
    <h1 class="text-center mb-4 fonte-azul">-BENEFÍCIOS-</h1>

    <div class="row text-center mt-5">
        <div class="col-md-3 d-flex align-items-center flex-column">
            <i class="fa-solid fa-file-lines fa-3x mb-3 fonte-laranja"></i>
            <span>Descrição do Ícone 1</span>
            <span class="fw-bold">Descrição do Ícone 1</span>

        </div>
        <div class="col-md-3 d-flex align-items-center flex-column">
            <i class="fa-solid fa-file-lines fa-3x mb-3 fonte-laranja"></i>
            <span>Descrição do Ícone 1</span>
            <span class="fw-bold">Descrição do Ícone 1</span>
        </div>
        <div class="col-md-3 d-flex align-items-center flex-column">
            <i class="fa-solid fa-file-lines fa-3x mb-3 fonte-laranja"></i>
            <span>Descrição do Ícone 1</span>
            <span class="fw-bold">Descrição do Ícone 1</span>
        </div>
        <div class="col-md-3 d-flex align-items-center flex-column">
            <i class="fa-solid fa-file-lines fa-3x mb-3 fonte-laranja"></i>
            <span>Descrição do Ícone 1</span>
            <span class="fw-bold">Descrição do Ícone 1</span>
        </div>
    </div>
</div>

<div class="container d-flex gap-3">
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Milhares de ideias para você combinar na mesma lista</h5>
                <p class="card-text">A Multibar tem a maior coleção de utilidades. Se você não sabe por onde começar, a Multibar fornece modelos prontos para você resolver rapidamente a sua Lista de Casamento.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Moderna, flexível e muito segura</h5>
                <p class="card-text">A Lista Multibar é o melhor custo-benefício, onde você recebe seus presentes em dinheiro direto na sua conta bancária a partir de 1 dia útil e combina produtos das suas lojas favoritas. Receba os presentes que você realmente deseja ganhar e entregue uma experiência 5 estrelas para os seus convidados.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">LISTAS PARA TODAS AS OCASIÕES</h5>
                <p class="card-text">Conte com a Multibar em todos os momentos da sua vida! Casamento, chá de panela, chá de bebe, aniversário, chá de casa nova, bodas.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Como funciona uma lista de Presentes na Multibar</h5>
                <ol class="card-text">
                    <li>Crie sua lista</li>
                    <li>Compartilhe com os convidados</li>
                    <li>Utilize seus vales</li>
                    <li>Receba seus presentes</li>
                </ol>
            </div>
        </div>
    </div>
</div>



