@{
    ViewData["Title"] = "Home Page";
}

<div class="azul d-flex" id="main-container-principal-home">
    <div class="container col-5 m-auto text-center">
        <h1 class="display-4 poetsen text-white">O MELHOR LUGAR PARA FAZER SUA LISTA</h1>
        <br />
        <p class="mt-2 display-6 poppins-regular text-white">Para qualquer tipo de comemoração a <strong>multibar</strong> é a melhor opção.</p>
        <div class="w-100 d-flex flex-column flex-md-row align-items-center justify-content-center">
            <a class="btn btn-primario poppins-regular mb-3 mb-md-0 mr-md-2 text-center d-flex align-items-center justify-content-center" href="#" role="button">Criar uma lista</a>
            <a class="btn btn-secundario poppins-regular text-center d-flex align-items-center justify-content-center" href="#" role="button">Presentear alguém</a>
        </div>
    </div>
</div>




