:root {
    --laranja-multibar: #F46023;
    --azul-multibar: #0628CB;
}


html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    margin-bottom: 60px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.laranja {
    background-color: var(--laranja-multibar) !important;
}

.azul {
    background-color: var(--azul-multibar) !important;
}
.fonte-laranja {
    color: var(--laranja-multibar);
}

.fonte-azul {
    color: var(--azul-multibar) !important;
}

.poetsen {
    font-family: 'Poetsen One', sans-serif;
}

#main-container-principal-home {
    height: 70vh;
}

.btn-primario, .btn-secundario {
    border-radius: 50px;
    font-size: 20px;
    color: white;
    height: 65px;
    width: 245px;
}

.btn-primario:hover, .btn-secundario:hover {
        color: white !important;
    }

.btn-primario {
    background-color: var(--laranja-multibar) !important;
}

.btn-secundario {
    border-color: white
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0,0,0,0.26);
}

.fundo-inicial-home {
    background-image: url('../img/background-img.png'), url('../img/fundopresente.png');
    background-repeat: no-repeat, repeat;
    background-position: bottom,top right;
}

.imagem-homem {
    position: relative;
    bottom:0;

}
.navbar-principal {
    background-image: url('../img/fundo-logo.png'), url('../img/fundopresente.png');
    background-repeat: no-repeat, repeat;
    background-position-x: 10%;
}
.logo{
    height: 75px;
}

.main-container-inicio-conteudo {
    margin-top: 5rem;
}

.main-container-login {
    background-image: url('../img/icons-gray-bg.svg');
    background-color: #F0F1F3;
    color: #183153;
    height: 80vh;

}

.main-container-login-box {
    background-color: white;
    width: 70%;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
}

.input-icons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.icon {
    padding: 12px;
    min-width: 40px;
    position: absolute;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 35px;
}
